.upglide{z-index:1;position:relative;float:left;width:890px;height:304px;overflow:hidden;}
.upglide .upglide_list{z-index:4;position:absolute;right:0;bottom:0;width:310px;height:274px;overflow:hidden;}
.upglide .upglide_list div{padding:11px 0;}
.upglide .upglide_list p{position:relative;padding:0 10px 0 23px;height:36px;line-height:36px;font-size:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;}
.upglide .upglide_list p a{z-index:6;position:relative;}
.upglide .upglide_list p span{position:absolute;left:0;top:0;width:0;height:100%;;background:#e23138;}
.upglide .upglide_list .current{background:#c01920;color:#fff;transition:all .5s;}
.upglide .upglide_list .current a,.upglide .upglide_list p:hover a{color:#fff;}

.upglide ul{z-index:2;position:absolute;left:0;top:0;width:590px;background:#eee;}
.upglide ul li{height:304px;overflow:hidden;}
.upglide ul li img{width:100%;min-height:100%;}

.index_focus{position:absolute;right:0;top:0;width:287px;padding:5px 0;height:24px;line-height:24px;font-size:24px;}
.index_focus i{display:inline-block;vertical-align:top;margin-right:10px;width:4px;height:100%;background:#c01920;}

/*改start*/
.zhibo{float:right;width:290px;height:304px;overflow:hidden;}

.zhibo_yy dt{position:relative;padding-left:70px;height:35px;line-height:40px;font-size:16px;}
.zhibo_yy dt img{position:absolute;left:0;bottom:-6px;width:64px;height:40px;}
.zhibo_yy dd{height:134px;background:#222;text-align:center;}
.zhibo_yy dd p{padding:20px 0 0 0;color:#fff;font-size:16px;}
.zhibo_yy dd b{display:block;padding:7px 0 10px 0;color:#e17e08;font-size:22px;}
.zhibo_yy dd a{display:inline-block;padding:0 8px;height:25px;line-height:25px;color:#fff;background:#e17e08;}

.zhibo_langji{margin-top:10px;height:126px;overflow:hidden;}
.zhibo_langji img{width:100%;height:100%;}
/*改end*/

.daoshi{float:left;width:560px;height:282px;}
.daoshi dt{position:relative;float:left;margin-left:10px;width:244px;height:100%;text-align:center;}
.daoshi dt .bg{z-index:1;position:absolute;left:0;top:50%;margin-top:-56px;width:100%;height:112px;}
.daoshi dt .bg img{height:100%;}
.daoshi dt .people{z-index:2;position:relative;margin-top:18px;}
.daoshi dt .people img{width:188px;}
.daoshi dd{float:right;margin:15px 0 0 0;width:292px;}
.daoshi dd .info{position:relative;margin:50px 0 0 0;padding-top:44px;height:130px;border:1px solid #e4e4e4;}
.daoshi dd .name{position:absolute;left:20px;top:-25px;width:78%;background:#fff;}
.daoshi dd .name b{display:block;margin:0 100px 0 0;line-height:40px;text-align:center;font-size:30px;letter-spacing:5px;overflow:hidden;white-space:nowrap;}
.daoshi dd .name img{position:absolute;top:-25px;right:-5px;width:108px;}
.daoshi dd .num{line-height:35px;font-size:16px;white-space:nowrap;overflow:Hidden;}
.daoshi dd .num span{display:inline-block;vertical-align:top;margin:0 10px;width:140px;text-align:right;overflow:hidden;}
.daoshi dd .num label{display:inline-block;vertical-align:top;margin:0 10px;width:110px;overflow:hidden;}
.daoshi dd .num b{margin:0 5px;}
.daoshi dd .num .yellow{color:#ffab00;}
.daoshi dd .num .size24{font-size:24px;}
.daoshi dd .skill{margin:15px 10px 0 10px;height:20px;line-height:20px;text-align:center;font-size:16px;overflow:hidden;}
.daoshi dd .skill span{color:#898989;margin-right:10px;}
.daoshi dd .skill img{margin-right:7px;width:14px;}
.daoshi dd .more{padding-top:8px;text-align:right;}
.daoshi dd .more a{display:inline-block;padding-right:3px;height:18px;line-height:18px;color:#898989;}
.daoshi dd .more a:hover{color:#c01920;}
.daoshi dd .more i{color:#c01920;font-style:normal;margin:0 0 0 5px;}

.vcourse{float:right;width:624px;background:#fff;margin:20px 10px 0 0;}
.vcourse dt{margin-left:32px;height:24px;line-height:24px;}
.vcourse dt .left{float:left;width:45%;height:100%;color:#898989;overflow:hidden;}
.vcourse dt .left i{display:inline-block;vertical-align:top;margin-right:10px;width:4px;height:100%;background:#c01920;}
.vcourse dt .left span{padding:0 20px 0 0;font-size:24px;color:#222;}
.vcourse dt .right{float:right;width:45%;height:100%;color:#898989;text-align:right;overflow:hidden;}
.vcourse dt .right a{color:#898989;}
.vcourse dt .right a:hover{color:#c01920;}
.vcourse dt .right i{color:#c01920;font-style:normal;margin:0 0 0 5px;}
.vcourse dt .right span{margin:0 10px;}
.vcourse dd{margin-top:23px;}

.vcourse_list li{float:left;width:50%;}
.vcourse_list li .box{padding:0 0 0 32px;}
.vcourse_list li .pic{position:relative;height:149px;overflow:hidden;}
.vcourse_list li .pic img{width:100%;min-height:100%;}
.vcourse_list li .pic p{position:absolute;left:0;bottom:0;width:100%;height:30px;line-height:30px;color:#fff;background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));}
.vcourse_list li .pic span{float:left;width:60%;margin:0 0 0 7px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.vcourse_list li .pic label{float:right;width:30%;margin:0 7px 0 0;text-align:right;overflow:hidden;white-space:nowrap;}
.vcourse_list li .tt{float:left;padding:8px 0 4px 0;width:100%;line-height:22px;}
.vcourse_list li .tt span{float:left;width:70%;font-size:16px;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.vcourse_list li .tt label{float:right;width:25%;color:#898989;text-align:right;overflow:hidden;white-space:nowrap;}
.vcourse_list li .price{float:left;width:100%;color:#c01920;font-size:16px;overflow:hidden;white-space:nowrap;}
.vcourse_list li .price b{font-size:18px;}

.body_left{float:left;width:890px;}
.body_right{float:right;width:290px;}

.news_list dt,.huati dt{padding:20px 10px 10px 10px;height:20px;line-height:20px;}
.news_list dt span,.huati dt span{font-size:16px;font-weight:bold;}
.news_list dt a,.huati dt a{float:right;color:#898989;}
.news_list dt a:hover{color:#c01920;}
.news_list dt i{color:#c01920;font-style:normal;margin:0 0 0 5px;}
.news_list dd{padding:0 10px 20px 10px;}
.news_list dd p{padding:5px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news_list dd p i{display:inline-block;vertical-align:middle;margin-right:7px;width:4px;height:4px;background:#cacaca;}
.news_list dd p a{vertical-align:middle;line-height:20px;color:#222;}
.news_list dd p a:hover{color:#898989;}

.huati dt img{vertical-align:top;margin:5px 0 0 5px;width:14px;}
.huati dt .cl{transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transform:all 0.5s;transform:rotate(720deg);-moz-transform:rotate(720deg);-webkit-transform:rotate(720deg);-o-transform:rotate(720deg);}
.huati dd{padding:0 10px 30px 10px;}
.huati dd .huati_lei{margin:10px 0;position:relative;padding:0 8px;height:37px;line-height:37px;border:1px solid #c01920;border-radius:8px;}
.huati dd .huati_lei a{color:#c01920;font-size:18px;}
.huati dd .huati_lei::before{z-index:1;position:absolute;left:15px;bottom:-10px;content:"";width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:9px solid #c01920;}
.huati dd .huati_lei::after{z-index:2;position:absolute;left:15px;bottom:-8px;content:"";width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:8px solid #fff;}
.huati dd li{padding:10px 0 15px 0;border-bottom:1px solid #efefef;}
.huati dd li .tt{line-height:24px;color:#222;font-size:16px;}
.huati dd li .tt a:hover{color:#c01920;}
.huati dd li .con{padding:10px 0 15px 0;line-height:21px;color:#898989;}
.huati dd li .data{line-height:20px;color:#b4b4b4;}
.huati dd li:nth-last-child(1){border-bottom:0;}
.huati dd .btn{text-align:center;}
.huati dd .btn a{display:inline-block;width:203px;height:46px;line-height:46px;text-align:center;color:#fff;font-size:16px;background:#ec6e66;border-radius:8px;}
.huati dd .btn a:hover{background:#c01920;}

.video dt,.news dt{position:relative;margin:0 10px;padding:15px 0 10px 0;line-height:30px;border-bottom:1px solid #d3d3d3;}
.video dt i,.news dt i{position:absolute;left:-10px;top:19px;width:4px;height:22px;background:#c01920;}
.video dt span,.news dt span{display:inline-block;margin-left:3px;font-size:24px;}
.video dt a{display:inline-block;margin-left:35px;color:#898989;font-size:16px;}
.video dt a:hover{color:#c01920;}
.video dd{padding:16px 5px 10px 5px;}

.video_list li{float:left;width:33.3%;}
.video_list li a{display:block;margin:10px 5px;}
.video_list li a:hover p{color:#c01920;}
.video_list li div{position:relative;height:154px;background:#eee;overflow:hidden;}
.video_list li div img{width:100%;min-height:100%;}
.video_list li div::before{z-index:1;position:absolute;left:0;bottom:0;width:100%;height:28px;content:"";background:linear-gradient(to bottom,rgba(17,17,17,0) 0%,rgba(17,17,17,1) 100%);}
.video_list li div span{z-index:2;position:absolute;left:7px;bottom:8px;padding-left:20px;height:17px;line-height:17px;color:#fff;background:url(/static/images/static/images/hot.png) no-repeat left center;}
.video_list li div label{z-index:2;position:absolute;right:7px;bottom:8px;height:17px;line-height:17px;color:#fff;}
.video_list li div i{position:absolute;right:5px;top:5px;height:17px;line-height:17px;padding:0 5px;font-style:normal;font-size:12px;color:#fff;background:#4d6fff;}
.video_list li p{margin:3px 5px 0 5px;height:44px;line-height:22px;font-size:16px;overflow:hidden;}

.news dd{padding:10px 10px 13px 10px;}
.news dd .more a{display:block;height:45px;line-height:45px;text-align:center;color:#222;font-size:16px;background:#f4f4f4;}
.news dd .more a:hover{background:#f0f0f0;}
.news_list2{padding-bottom:20px;}
.news_list2 li{position:relative;padding:15px 0;height:158px;}
.news_list2 li .left{float:left;width:280px;height:158px;overflow:hidden;}
.news_list2 li .left img{width:100%;min-height:100%;}
.news_list2 li .right{margin:0 0 0 300px;}
.news_list2 li .right .tt{height:25px;line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news_list2 li .right .tt .tag2{display:inline-block;padding:0 7px;height:20px;line-height:20px;color:#fff;margin-right:6px;background:#bbb;}
.news_list2 li .right .tt .txt{font-size:18px;}
.news_list2 li .right .tt .txt:hover{color:#c01920;}
.news_list2 li .right .con{padding:15px 0 0 0;height:60px;line-height:20px;font-size:14px;color:#898989;overflow:hidden;}
.news_list2 li .right .time{position:absolute;left:300px;bottom:15px;height:21px;line-height:21px;font-size:16px;color:#b4b4b4;}
.news_list2 li .right .time span{font-size:14px;margin-left:17px;}

.links{margin-top:60px;}
.links dt{position:relative;line-height:30px;}
.links dt i{display:inline-block;vertical-align:top;margin-top:6px;width:4px;height:22px;background:#c01920;}
.links dt span{display:inline-block;margin-left:10px;font-size:24px;}
.links dt label{margin-left:16px;font-size:14px;color:#898989;}
.links dd{margin:25px 10px 0 10px;line-height:24px;}
.links dd a{color:#898989;font-size:14px;margin-right:25px;}
.links dd a:hover{color:#c01920;}









