<template>
<div class="upglide">
    <ul>
        <li class="slide-show">
            <a :href="banner[current].url" :title="banner[current].title" class="slide-img">
                <transition name="slide-trans">
                <img :src="banner[current].image" v-if="isShow" :alt="banner[current].title" style="height:305px;">
                </transition>
                <transition name="slide-trans-old">
                <img :src="banner[current].image"  v-if="!isShow" :alt="banner[current].title" style="height:305px;">
                </transition>
            </a>
        </li>
    </ul>
    <div class="index_focus"><i></i>浪迹焦点</div>
        <div class="upglide_list">
            <div>
                <template v-for="(item,index) in banner">  
                    <p v-if="index == current" class='current'>
                        <a :href="item.url" :title="item.title">{{item.title}}</a><span></span>
                    </p>
                    <p v-else>
                    <a :href="item.url" :title="item.title" @mouseover="mousegoto(index)" @mouseout="mouseout()">{{item.title}}</a><span></span>
                    </p>
                </template>
            </div>
    </div>
</div>
</template>
<script>
export default{
    props:{
        banner:{
            type:Array,
            default:[]
        }
    },
    data(){
        return {
            current:0,
            isShow:true,
            timer:null
        };
    },
    computed:{
        downRun:function(){
            return this.current < this.banner.length -1 ? this.current + 1 : 0;
        }
    },
    mounted(){
        this.initRun();
    },
    methods:{
        goto(index){
            this.isShow = false;
            setTimeout(() => {
                 this.isShow = true;
                this.current = index;
            },100);
        },
        initRun(){
           this.timer = setInterval(() => {
                this.goto(this.downRun);
            },2000);
        },
        mousegoto(index){
            clearInterval(this.timer);
            this.timer = null;
            this.goto(index);
        },
        mouseout(){
            this.initRun();
        }
    }
}
</script>
<style scoped>
.slide-trans-enter-active {
  transition: all .5s;
}
.slide-trans-enter {
  transform: translateY(305px);
}
.slide-trans-old-leave-active {
  transition: all .5s;
  transform: translateY(-305px);
}
.slide-show {
    position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
</style>