<template>
<div class="fullWidth whiteBg marTop1">
		<dl class="daoshi">
			<dt><a href="#"><p class="bg"><img :src="personInfo.avatar"/></p><p class="people"><img src="/static/images/dy.png"/></p></a></dt>
			<dd>
				<div class="info">
					<p class="name"><b>{{personInfo.name}}</b><img v-if="personInfo.auth" src="/static/images/renzheng.png"></p>
					<p class="num"><span><b class="yellow size24">{{personInfo.students}}</b>学员</span><label>热门榜第<b class="yellow">{{personInfo.hot}}</b>名</label></p>
					<p class="num"><span><b class="yellow size24">{{personInfo.percent}}</b>分</span><label>好评榜第<b class="yellow">{{personInfo.good}}</b>名</label></p>
					<p class="skill"><img src="new_img/star.png">擅长：
                    <span v-for="item in personInfo.adapt">{{item}}</span></p>
				</div>
				<div class="more"><a href="#">查看更多导师<i>&gt;</i></a></div>
			</dd>
		</dl>
		<dl class="vcourse">
			<dt>
				<p class="left"><i></i><span>VIP课程</span></p>
				<p class="right"><a href="#">更多课程<i>&gt;</i></a></p>
			</dt>
			<dd>
				<ul class="vcourse_list">
					<li v-for="item in personInfo.list">
						<div class="box">
							<div class="pic">
								<a href="#" :title="item.title">
									<img :src="item.icon">
									<p><span>{{item.tag}}</span><label>{{item.num}}人已学</label></p>
								</a>
							</div>
							<p class="tt"><span>{{item.title}}</span><label>课时{{item.hours}}节</label></p>
						</div>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</template>
<script>
export default{
    props:{
        personInfo:{
            type:Object
        }
    }
}
</script>