<template>
<dl class="news whiteBg marTop1">
			<dt><i></i><span>PUA推荐</span></dt>
			<dd>
				<ul class="news_list2">
					<li v-for="(item,index) in remmendlist">
						<div class="left"><a @click="cclick(index)" :title="item.title"><img alt="item.title" rel="nofollow" :src="item.icon"></a></div>
						<div class="right">
							<p class="tt">
                            <router-link class="txt" :title="item.title" :to="{name:'zixun',params:{type:item.type,id:item.id}}" >{{item.title}}</router-link>
                            </p>
							<p class="con">{{item.desc}}</p>
							<p class="time">{{item.author}}<span>{{item.create}}</span></p>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
				<div class="more"><a @click="more">查看更多</a></div>
			</dd>
		</dl>
</template>
<script>
export default{
    data(){
        return {
            remmendlist:[]
        };
    },
    mounted(){
         this.$http.get("/static/json/remend.json").then(function(res){
             this.remmendlist = res.data;
         })
    },
    methods:{
        more(){
            this.$http.get("/static/json/remend.json").then(function(res){
             this.remmendlist =this.remmendlist.concat(res.data);
         })
        },
        cclick(index){
            var title = this.remmendlist[index].title;
            
            this.$emit("myclick",title);
        }
    }
}
</script>