<template>
<dl class="huati whiteBg marTop1">
			<dt><span>热门话题</span><a href="#">换一换<img src="/static/images/icon_change.png"/></a></dt>
			<dd>
                <template v-for="item in topic">
				<div class="huati_lei" ><a href="#">#{{item.cate}}#</a></div>
				<ul>
					<li v-for="data in item.list">
						<p class="tt"><a :href="data.url">{{data.title}}</a></p>
						<p class="con">{{data.desc}}</p>
						<p class="data">{{data.answer}}回答　{{data.view}}浏览</p>
					</li>
					
				</ul>
				</template>
				<div class="btn"><a href="#">我要提问</a></div>
			</dd>
		</dl>
</template>
<script>
export default{
    data(){
        return  {
            topic:[]
        }
    },
    created(){
        this.$http.get("/static/json/topic.json",{}).then(response=>{
           this.topic = response.body;
        })
    }
}
</script>