<template>
<dl class="video whiteBg marTop1">
			<dt><i></i><span>PUA把妹视频</span>
            <a v-for="item in videoInfo.nav" :href="item.url" >{{item.title}}</a></dt>
			<dd>
				<ul class="video_list">
					<li v-for="item in videoInfo.lists">
						<a :href="item.url" :title="item.title">
							<div><img :src="item.icon" /><span>{{item.hot}}</span><label>06:00</label><i>{{item.tag}}</i></div>
							<p>{{item.title}}</p>
						</a>
					</li>
					
				</ul>
				<div class="clear"></div>
			</dd>
		</dl>
</template>
<script>
export default{
    props:{
        videoInfo:{
            type:Object
        }
    }
}
</script>