<template>
<div class="zhibo">
			<dl class="zhibo_yy">
				<dt><img src="/static/images/YY.png"/>PUA每日直播</dt>
				<dd>
					<p>YY直播时间:{{zhiboinfo.playtime}}</p>
					<b>YY直播频道:{{zhiboinfo.channel}}</b>
					<a :href="zhiboinfo.url" target="_blank" rel="nofollow">进入直播间</a>
				</dd>
			</dl>
			<div class="zhibo_langji">
				<a><img src="/static/images/my_zhibo.jpg"/></a>
			</div>
</div>
</template>
<script>
export default{
    props:{
        zhiboinfo:{
            type:Object
        }
    }
}
</script>
