<template>
<dl class="news_list whiteBg marTop1">
			<dt><span>最新资讯</span><a href="#">更多<i>&gt;</i></a></dt>
			<dd>
				<p v-for="item in datalist"><a :href="item.url" :title="item.title"><i></i>{{item.title}}</a></p>
			
			</dd>
</dl>
</template>
<script>
export default{
    data(){
        return {
            datalist:[]
        }
    },
    mounted(){
       this.$http.get("/static/json/zixun.json").then(res=>{
                this.datalist = res.data;
            });
    }
    
}
</script>