<template>
<div>
<div class="clear"></div>
<div class="bodyauto">
	<div class="marTop1">
		<!--轮播组件-->
    	<banner v-bind:banner="banner"></banner>
		<!--直播组件-->
		<zhibo v-bind:zhiboinfo="zhiboinfo"></zhibo>
	</div>
	<div class="clear"></div>
	<!--推荐导师-->
	<person v-bind:personInfo="personInfo"></person>
	<div class="clear"></div>
	<div class="body_left">
		<!--视频推荐组件-->
		<video-info v-bind:videoInfo="videoInfo"></video-info>
		<div class="clear"></div>
		<!--pua推荐包含vue-resource的http请求-->
		<remmend  v-on:myclick="doSomething"></remmend>
	</div>
	<div class="body_right">
		<!--话题list-->
		<topic></topic>
		<div class="clear"></div>
		<zixun></zixun>
		<div class="clear"></div>
		<dl class="app_download">
			<dt><b>浪迹教育APP</b>从屌丝蜕变男神神器</dt>
			<dd>
				<span><img src="static/images/app_download.jpg"></span>
				<p><img src="static/images/app_logo.png">扫码下载</p>
				<label><img src="static/images/icon1.png"></label>
			</dd>
		</dl>
	</div>
	<div class="clear"></div>
	<dl class="links">
		<dt><i></i><span>友情链接</span><label>友链申请QQ：45434860</label></dt>
		<dd>
			<a href="#">泡学网</a><a href="#">男士服装搭配</a><a href="#">奇闻怪事</a><a href="#">网盘搜索王</a><a href="#">UC小说网</a><a href="#">悠悠网</a><a href="#">网上交友</a><a href="#">电视剧大全</a><a href="#">武汉PUA乾隆通宝</a><a href="#">潦草电影网</a><a href="#">中国综艺网</a><a href="#">日报中文网</a><a href="#">站长吧</a><a href="#">神佑武汉</a><a href="#">生活网</a><a href="#">丝袜美女</a><a href="#">E旅行</a><a href="#">网缺片</a><a href="#">网微体育</a><a href="#">网页游戏</a><a href="#">95美女秀</a><a href="#">情书大全</a><a href="#">科技网</a><a href="#">谷粒网</a><a href="#">自学网</a><a href="#">经典电影</a><a href="#">恐艾</a><a href="#">兽药致富商机</a><a href="#">邯郸生活网</a><a href="#">百度云资源</a><a href="#">羞花影视</a><a href="#">意合情感</a><a href="#">人才</a><a href="#">高清美女图片</a><a href="#">新抚州网</a>
		</dd>
	</dl>

</div>
<div class="clear"></div>
</div>
</template>

<script>
import banner from "../template/banner";
import zhibo from "../template/zhibo";
import person from "../template/person";
import videoInfo from "../template/video";
import remmend from "../template/remmend";
import topic from "../template/topic";
import zixun from "../template/zixun";
export default {
  components:{banner,zhibo,person,videoInfo,remmend,topic,zixun},
  data(){
    return {
      banner:[
        {
          url:"http://www.puamap.com/zixun/lilun/16235.html",
          title:"圣诞分手：女朋友被骂了3年失声痛哭，男人到底应该怎么做",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712261527319878.jpg"
        },
        {
          url:"http://www.puamap.com/zixun/lilun/16221.html",
          title:"东尼大木：我拍的不是AV，是生计！",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712251149405391.jpg"
        },
        {
          url:"http://www.puamap.com/zixun/shizhan/16212.html",
          title:"极致走心：聊了四个小时之后，她成为了我的女朋友",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712221139036042.jpg"
        },
        {
          url:"http://www.puamap.com/zixun/lilun/16210.html",
          title:"sm，女仆，监狱，这些健身房你敢“干”嘛？",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712221113501125.jpg"
        },
        {
          url:"http://www.puamap.com/zixun/lilun/16198.html",
          title:"她最后去了相亲角",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712211117533284.jpg"
        },
        {
          url:"http://www.puamap.com/zixun/lilun/16188.html",
          title:"2017年撩汉期末考：“直女”自测（全国卷）",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712201337463224.jpg"
        },
        {
          url:"http://www.puamap.com/vcourse/detail/10257",
          title:"2018年的权威把妹技巧",
          image:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712201030546831.jpg"
        }
      ],
	  zhiboinfo:{
		  playtime:"19:00-24:00",
		  channel:30497,
		  url:"http://www.yy.com"
	  },
	  personInfo:{
		  avatar:"/static/images/master.png",
		  name:"大尧",
		  auth:true,
		  students:2456,
		  hot:6,
		  percent:9.70,
		  good:4,
		  adapt:["速推","夜店把妹","TD"],
		  list:[
			  {
				  icon:"http://appcdn.puamap.com/upload/image/201711/201711131030544051.thumbnail.jpg",
				  tag:"聊天大师",
				  num:1222,
				  title:"老吴舰队私教",
				  hours:0
			  },
			  {
				  icon:"http://appcdn.puamap.com/upload/image/201711/201711131122443777.thumbnail.jpg",
				  tag:"",
				  num:31458,
				  title:"老吴聊天课",
				  hours:0
			  }
		  ]
	  },
	  videoInfo:{
		  nav:[
			  {
				  title:"浪迹一分钟",
				  url:"https://www.puamap.com/video/yifenzhong"
			  },
			  {
				  title:"直播",
				  url:"https://www.puamap.com/video/yyzhibo"
			  },
			   {
				  title:"把妹地图",
				  url:"https://www.puamap.com/video/bameiditu"
			  },
			  {
				   title:"浪迹有套路",
				  url:"https://www.puamap.com/video/langjiyoutaolu"
			  }
		  ],
		lists:[
			{
				title:"女友超过2000个的日常人生竟是这样",
				tag:"撩妹狂魔",
				url:"",
				hot:292,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712261456504674.thumbnail.jpg"
			},
			{
				title:"新认识的女生约我去她家，结果她换上了这身衣服",
				tag:"浪迹一分钟",
				url:"",
				hot:473,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712261040525204.thumbnail.jpg"
			},
			{
				title:"暖暖的很贴心，教你冬季里如何雪场把妹",
				tag:"把妹地图",
				url:"",
				hot:733,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712221102294056.thumbnail.jpg"
			},
			{
				title:"浪迹教育9.0课程揭秘：专属神秘礼物来袭！",
				tag:"干货分享",
				url:"",
				hot:703,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712201358434011.thumbnail.jpg"
			},
			{
				title:"语文课本里的民国男神，竟然是个渣男",
				tag:"撩妹狂魔",
				url:"",
				hot:497,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712191512457660.thumbnail.jpg"
			},
			{
				title:"会聊骚的男人，夜晚通常这么过",
				tag:"浪迹一分钟",
				url:"",
				hot:1139,
				icon:"http://appcdn.puamap.com/pc/uploads/firstpage/201712/201712181733075991.thumbnail.jpg"
			}
		]
	  }
    }
  },
		methods:{
			doSomething(title){
					alert(title);
			}
		}
}
</script>