<template>
<div class="bodyauto">
<iframe :src="html" class="miframe" scroll="no"></iframe>
<div class="chose-tab">
<p>
    选项卡
</p>
    <ul>
        <li class="red" @click="chose('red')">demo1</li>
        <li class="green" @click="chose('green')">demo2</li>
        <li class="blue" @click="chose('blue')">demo3</li>
        <li class="orange" @click="chose('orange')">demo4</li>
        <li class="black" @click="chose('black')">demo5</li>
    </ul>
    <div :is="mode"></div>
</div>
</div>
</template>

<script>
import red from "../mode/red";
import green from "../mode/green";
import blue from "../mode/blue";
import orange from "../mode/orange";
import black from "../mode/black";
export default{
    components:{red,green,blue,orange,black},
    data(){
        return {
            html:"",
            mode:"red"
        }
    },
    mounted(){
        var type = this.$route.params.type;
        var id = this.$route.params.id;
        this.html="http://www.puamap.com/zixun/"+type+"/"+id+".html";
    },
    methods:{
        chose(color){
            this.mode = color;
        }
    }
}
</script>
<style scoped>
.miframe{display:block;width:100%;margin:0px auto;border:none;height:600px;}
.chose-tab{margin:20px 0px;}
.chose-tab p {font-size:30px;margin-bottom:10px;}
.chose-tab ul{height:52px;line-height:52px;}
.chose-tab li{float:left;height:50px;width:200px;text-align:center;margin-right:20px;border:1px solid #ddd;color:#fff}
.chose-tab li:hover{cursor:pointer;}
.red{background:red;}
.green{background:green;}
.blue{background:blue;}
.orange{background:orange;}
.black{background:black;}
</style>